<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>$title$</title>
    <link rel="stylesheet" href="/css/default.css" />
  </head>
  <body>
    <h1>$title$</h1>
       $if(categories)$
    <div id="tags">Posted in $tags$</div>
    $endif$
    $desc$
    <br>
    source: <a href=$source$>$source$</a></div>
    <br>
    $if(image)$
    <div id="picture"><img src="/pictures/$image$" style="width:auto;"></div>
    $endif$
    $body$
    $if(notes)$
    <h2>Notes</h2>
    $notes$
    $endif$
</html>

