<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>$title$</title>
    <link rel="stylesheet" href="/css/tufte.css" />
  </head>
  <body>
    <header>
      <h3><a href="/">home</a></h3>
    </header>

    <article>
      <h1>$title$</h1>

      $if(categories)$
    <div id="tags">Posted in $tags$</div>
    $endif$
    <p class="subtitle">
      $desc$
    </p>
    <br>
    <section>
      source: <a href=$source$>$source$</a></div>
<br>
</section>

    $if(image)$
<section>
  <div id="picture"><img src="/pictures/$image$" style="width:auto;"></div>
    $endif$
  <section>
    $body$
    $if(notes)$
    <section>
      <h2>Notes</h2>
    <ol>
      $notes$
    </ol>
    $endif$
</html>

